.DS_Store
.env
.venv/
.vscode/
__pycache__/
*.pyc

data/raw/
data/user_preferences.json
data/chat_sessions.json
*.gpx
*.xml
*.cda

app/.ipynb_checkpoints/
*.ipynb_checkpoints/

--------A decision engine that.md
*.ipynb

docs/WMW
docs/notes.md
docs/architecture.md
